h1 {
    font-size: 3rem;
    text-transform: lowercase;
    margin-top: 0;
    letter-spacing: .3rem;
}

a {
    text-decoration: none;
}

.blowdry {
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight:100;
    color: white;
    font-size: 1.2rem;
    border-bottom: 1rem solid black;
}

a.purple-btn {
    display: inline-block;
    text-decoration: none;
    padding: 1.0rem;
    border-radius: 5px;
    color: rgba(255,255,255,1);
    background:rgba(111,0,222,0.75);
    transition: .6s background;
}
a.purple-btn:hover {
    color: rgba(255,255,255,1);
    background:rgba(111,0,222,1);
}

a.green-btn {
    display: inline-block;
    text-decoration: none;
    color: rgba(255,255,255,1);
    background:rgba(0,192,0,0.75);
    padding: 1.0rem;
    border: 0.125rem solid lightgray;
    border-radius: 5px;
    transition: .6s background;
}
a.green-btn:hover {
    color: rgba(255,255,255,1);
    background:rgba(0,192,0,1);
}

a.black-btn {
    display: inline-block;
    text-decoration: none;
    color: rgba(255,255,255,1);
    background:rgba(0,0,0,0.75);
    padding: 1.0rem;
    border-radius: 5px;
    transition: .6s background;
}
a.black-btn:hover {
    color: rgba(255,255,255,1);
    background:rgba(0,0,0,0.85);
}