/* Background Video CSS */
.banner-video {
    position: absolute;
    top: 48%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    /*width: auto;*/
    /*max-height: 30.5em;*/
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(0,0,0,1);
    background-size: contain;
    transition: 1s opacity;
}
.stopfade {
   /*opacity: 0.5;*/
}

.blowdry {
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight:100;
    /*background-color: rgba(0,0,0,1);*/
    /*background: rgba(0,0,0,0.3);*/
    color: white;
    padding: 2rem;
    /*margin:2rem;*/
    font-size: 1.2rem;
    min-width: 100%;
    /*height: 22.5em;*/
}
h1 {
  font-size: 3rem;
  text-transform: lowercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
.blowdry button {
  display: block;
  padding: 1.4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  /*background: rgba(255,255,255,0.23);*/
  color: #fff;
  /*border-radius: 5px;*/
  cursor: pointer;
  transition: .3s background;
}
.blowdry button:hover {
    color: rgba(0,204,0,1);
    /*background: rgba(0,0,0,0.5);*/
}

a {
    text-decoration: none;
}

a.header-btn {
    display: inline-block;
    text-decoration: none;
    padding: 1.0rem;
    border-radius: 5px;
    transition: .6s background;
    color: rgba(255,255,255,1);
    background:rgba(255,80,0,0.75);
}
a.header-btn:hover {
    color: rgba(255,255,255,1);
    background:rgba(255,111,0,1);
}

a.blue-btn {
    display: inline-block;
    text-decoration: none;
    color: rgba(255,255,255,1);
    background:rgba(0,111,222,0.75);
    padding: 1.0rem;
    border-radius: 5px;
    transition: .6s background;
}
a.blue-btn:hover {
    color: rgba(255,255,255,1);
    background:rgba(0,111,222,1);
}

a.black-btn {
    display: inline-block;
    text-decoration: none;
    color: rgba(255,255,255,1);
    background:rgba(0,0,0,0.75);
    padding: 1.0rem;
    border-radius: 5px;
    transition: .6s background;
}
a.black-btn:hover {
    color: rgba(255,255,255,1);
    background:rgba(0,0,0,0.85);
}

/*Handle non-HTML 5 mobile devices*/
@media screen and (max-device-width: 800px) {
  html {
      background: url(../images/blow.jpg) #fff no-repeat center center fixed;
      /*background:rgba(255,255,255,1);*/
  }
  #bgvid { display: none; }
}