{% set navigation = [('index.html', 'Index'), ('about.html', 'About')] %}

{% if latest_question_list %}
    <ul class="purple {{ align.left }} padding-left-5">
    {% for question in latest_question_list %}
        <li class="{{ li_style }} squirrel text-align-center"><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p class="large-up {{ five.fives }} border-1">No polls are available.</p>
{% endif %}

{% if loop.index is divisibleby(3) %}
    <div class="row text-align-center">Poll {{ user.username|e }}</div>
    {% for row in rows %}
        <li class="{{ loop.cycle('odd', 'even') }}">{{ row }}</li>
    {% endfor %}
{% endif %}

<script>
    // dojo reference: https://dojotoolkit.org/reference-guide/1.10/dojo/dom-class.html#id17
    require(["dojo/dom-class"], function(domClass){             // Add a class dojo 1.7+ (AMD)
        domClass.add("node", "dojo1");
        domClass.add('node', 'dojo2');
        domClass.add("node", "dojo3 dojo4");                    // Add multiple dojo 1.7+ (AMD)
        domClass.add('node', 'dojo5 dojo6');
    });

    require(["dojo/dom-class"], function(domClass){             // Remove a class from a node. dojo 1.7+
        domClass.remove("node", "dojo7");
        domClass.remove('node', 'dojo8');
        domClass.remove("node", "dojo9 dojo10");               // Remove multiple.
        domClass.remove('node', 'dojo11 dojo12');
    });
</script>